<div class="row">
    <div class="col-md-12">
        <h2>Posts
        <a href="/posts/add" class="btn btn-success pull-right">Add Post</a>
        </h2>
        <hr />
        <table class="table ">
            <thead>
                <tr>
                    <th scope="col">Post&nbsp;ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Post&nbsp;Date</th>
                    <th scope="col">Category</th>
                    <th scope="col">Published</th>
                </tr>
            </thead>
            <tbody>
                {{#each posts}}
                <tr class="table-primary">
                    <td>{{id}}</td>
                    <td>{{title}}</td>
                    <td>{{#formatDate postDate}}{{/formatDate}}</td>
                    <td><a href="/posts?category={{category}}">{{category}}</a></td>
                    <td>{{published}}</td>
                    <td><a href="/posts/delete/{{id}}" class="btn btn-danger">remove</a></td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="4">No Data Available</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{#unless posts}}
    <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
    </div>
    {{/unless}}
</div>